body {
  background: white;
  background-repeat: repeat;
  background-attachment: fixed;
}

header {
  background-color: #3295D5;
  max-width:100%;
  height:auto;
  padding-bottom: .5%;
}

main {
  background-color: rgba(255,255,255,.7);
  margin: 5% 5% 0% 5%;
  padding: 20px;
  max-width:100%;
}

li {
  list-style-type: none;
  position:relative;
}

.headerTitle{
  font-family: 'Poiret One', cursive;
  font-size: 1.7em bold;
  color: white;
  background-color: black;
  text-align: left;
  padding-top: 5%;
  padding-left:4%;
  padding-bottom: 5%;
}

h3 h4 h5 h6 {
  font-family: 'Amatic SC', cursive;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
