{% extends "base.jinja2" %}
{% block content %}
<form method=post action="">
    <div>{{form.title.label}}: {{form.title()}}</div>
    <div>{{form.text.label}}: {{form.text()}}</div>
    <p><input type=submit value=Submit></p>
</form>
{% endblock %}
