{% extends "base.jinja2" %}
{% block content %}
    <h1>{{ entry.title }}</h1>
    <p>{{ entry.text }} Created on: {{ entry.time }}</p>
    <a href="/entries/{{entry.id}}/edit">Edit</a>
{% endblock %}
