{% extends '../index.html' %}
{% block header %}
    <li class="tab"><a href="/add">Write a Post</a></li>
{% endblock %}
{% block content%}
<h3>Pick an article</h3>
<section class="posts row" id="posts">
    <ul>
      {% for entry in entries %}
      <li>
          <a href="/entries/{{ entry.id }}">{{ entry.title }} Last Updated: {{ entry.created }}</a>
      </li>
      {% endfor %}
  </ul>
</section>
{% endblock %}
