<!DOCTYPE html>
<html>
<head>
    <title>Learnin' Journal</title>
    <
</head>
<body>
    <ul>{% for row in rows %}
        <li><a href={{ path }}>{{title}}: {{date}}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
